.banner {
  width: 100%;
  height: 60vh;
  background-size: cover;
}
.banner h1 {
  font-size:44px ;
  color: white;
}
.banner p {
  font-size: 22px;
  padding: 24px 0px;
  color:white;
  font-family: Nunito;
}
.banner a {
  width: 20%;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  color: #1D262E;
  background-color: white;
  padding: 16px 24px;
  border-radius: 6px;
  transition: all 0.3s ease;
}
.banner a:hover {
  background-color: rgb(213, 213, 213);
  color: white;
}
@media (max-width: 430px) {
  .banner a {
    width: 80%;
  }
}
@media (max-width: 375px) {
  .banner{
    height: 70vh;
  }
}
